<template>
    <div class="container">
        <div class="row mt-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Result</h3>
                <div class="card-tools">
                  <button class="btn btn-success" @click="newModal"
                  data-toggle="modal" data-target="#addnewCenter">Add new Result<i class="fas fa-user-plus fa-fw" ></i> 
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="mb-3">
                  <div class="row">
                    <div class="col-md-2">
                        <strong >Search By : </strong>
                    </div>
                    <div class="col-md-3">
                        <select v-model="query_field" class="form-control" id="fileds" placeholder="Select Field">
                            <option value="exam">Exam</option>
                            <option value="student">Student</option>
                            <option value="department">Department</option>
                            <option value="subject">Subject</option>
                            <option value="section">Section</option>
                            <option value="semester">Semester</option>
                            <option value="year">Academic Year</option>
                            <option value="score">Score</option>
                        </select>
                    </div>
                    <div class="col-md-7">
                        <input v-model="query" type="text" class="form-control" placeholder="Search">
                    </div>
                  </div>
                </div>
                <div class="table-responsive p-0" >
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <th>ID</th>
                        <th>Exam</th>
                        <th>Student</th>
                        <th>Score</th>
                        <th>Department</th>
                        <th>Subject</th>
                        <th>Semester</th>
                        <th>Section</th>
                        <th>Academic Year</th>
                        <th>Modify</th>
                      </tr>
                      <tr v-for="result in results" :key="result.id">
                        <td> {{ result.id }}</td>
                        <td> {{ result.exam.name }}</td>
                        <td> {{ result.student.name }}</td>
                        <td> {{ result.score }}</td>
                        <td> {{ result.exam.department.name }}</td>
                        <td>  {{ result.exam.subject.name }}</td>
                        <!-- <td v-if="(result.exam.subject)!=null">  {{ result.exam.subject.name }}</td> -->
                         <!-- <td v-else>  -- </td> -->
                        <td> {{ result.exam.semester.name }}</td>
                        <td> {{ result.exam.section.name }}</td>
                        <td> {{ result.exam.year.name }}</td>
                        <td>
                          <a href="#" @click="editModal(result)">
                            <i class="fa fa-edit blue"></i>
                          </a>
                          /
                          <a href="#" @click="deleteData(result.id)">
                            <i class="fa fa-trash red"></i>
                          </a>
                          </td>
                      </tr>
                      <tr v-show="!results.length">
                      <td colspan="6">
                          <div class="alert alert-danger" role="alert">
                              Sorry :( No data found.
                          </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  
                  <pagination v-if="pagination.last_page > 1"
                    :pagination="pagination"
                    :offset="5"
                    @paginate="query === '' ? getData() : searchData()"
                  ></pagination>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="addnewCenter" tabindex="-1" role="dialog" aria-labelledby="addnewCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New Result</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form @submit.prevent="editmode ? updateData() : createData()">
                    <div class="modal-body">
                    
                        <div class="form-group">
                            <input v-model="form.score" type="text" name="score"
                            placeholder="score"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('score') }">
                            <has-error :form="form" field="score"></has-error>
                        </div>
                    <!-- <div class="form-group">
                    
                    <input v-model="form.department_id" type="text" name="department_id"
                    placeholder="department_id"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('department_id') }">
                    <has-error :form="form" field="department_id"></has-error>
                    </div> -->

                    <div class="form-group">
                        <select name="exam_id" v-model="form.exam_id" id="exam_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('exam_id') }">
                        <option disabled value="">Select Exam</option>  
                        <option v-for="exam in exams" :key="exam.id" :value="exam.id">{{exam.name}}</option>
                        </select> 
                        <has-error :form="form" field="exam_id"></has-error>
                    </div>

                    <div class="form-group">
                        <select name="student_id" v-model="form.student_id" id="student_id" class="form-control"
                        :class="{'is-invalid': form.errors.has('student_id') }">
                        <option disabled value="">Select Student</option>  
                        <option v-for="student in students" :key="student.id" :value="student.id">{{student.name}}</option>
                        </select> 
                        <has-error :form="form" field="student_id"></has-error>
                    </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editmode" type="submit" class="btn btn-success">Update Result</button>
                        <button v-show="!editmode" type="submit" class="btn btn-success">Create Result</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      data(){
          return{
            query: '',
            query_field:'exam',
            editmode: false,
            results: {},
            exams: {},
            departments: {},
            sections: {},
            semesters: {},
            years: {},
            subjects: {},
            students: {},
           
            form: new Form({
                id:'',
                score:'',
                student_id:'',
                exam_id:'',            
            }),
            pagination:{
              current_page: 1,
            }
          }
      },
      watch: {
        query:function (newQ, old) {
            if (newQ === '') {
                this.getData()
            } else {
                this.searchData()
            }
        }  
      },
      methods:{
        // loadUser(){
        //   axios.get("api/subject").then(({data})=>(this.subjects=data.data));
        // },
        getData(){
          // axios.get("api/subject").then(({data})=>(this.subjects=data.data));
            this.$Progress.start()
            axios.get('api/result?page='+this.pagination.current_page)
                .then(response => {
                    this.results = response.data.data
                    this.pagination = response.data.meta
                    this.$Progress.finish()
                })
                .catch(e => {
                    console.log(e)
                    this.$Progress.fail()
                })
        },
        searchData(){
            this.$Progress.start()
            // axios.get('/api/search/subject/'+this.queryFiled+'/'+this.query+'?page='+this.pagination.current_page)
          axios.get('/api/search/result/'+this.query_field+'/'+this.query)

                .then(response => {
                    this.results = response.data.data
                    // this.pagination = response.data.meta
                    this.$Progress.finish()
                })
                .catch(e => {
                    console.log(e)
                    this.$Progress.fail()
                })
        },
        createData(){
          this.$Progress.start();
          this.form.post('api/result')
          .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addnewCenter').modal('hide')

                    toast({
                        type: 'success',
                        title: 'Result Created successfully'
                        })
                    this.$Progress.finish();

                })
                 .catch(()=>{
                   this.$Progress.fail();

                })
        },

         updateData(){
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('api/result/'+this.form.id)
                .then(() => {
                    // success
                    $('#addnewCenter').modal('hide');
                     swal(
                        'Updated!',
                        'Information has been updated.',
                        'success'
                        )
                        this.$Progress.finish();
                        Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },

        editModal(result){
          this.editmode = true;
          this.form.reset();
          axios.get('api/student').then(({data})=>(this.students=data.data))
          axios.get('api/exam').then(({data})=>(this.exams=data.data))
          $('#addnewCenter').modal('show');
          this.form.fill(result);                       
        },

        newModal(){
          this.editmode = false;
          this.form.reset();
          axios.get('api/student').then(({data})=>(this.students=data.data))
          axios.get('api/exam').then(({data})=>(this.exams=data.data))

          $('#addnewCenter').modal('show');
        },    

        deleteData(id){
          swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
                              // Send request to the server
                              this.form.delete('api/result/'+id).then(()=>{
                                swal(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                                )   
                                Fire.$emit('AfterCreate');  
                              }).catch(()=> {
                                  swal("Failed!", "There was something wronge.", "warning");
                              });                                
          })
        },
      },

      created(){
        // this.loadUser();
        this.getData();
        Fire.$on('AfterCreate',() => {
              // this.loadUser();
              this.getData();
        });
      },
        mounted() {
            // this.getData();
        }
    }
</script>
